@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono");
@import url("https://fonts.googleapis.com/css?family=Xanh+Mono");

@font-face {
    font-family: "Proto Mono";
    src:
        url("fonts/ProtoMono-Regular.woff2") format("woff2"),
        url("fonts/ProtoMono-Regular.woff") format("woff");
}

body {
    padding-left: 100px;
    padding-top: 100px;
    padding-bottom:;
    font-family: "IBM Plex Mono";
}

input {
    padding: 5px;
    font-family: "IBM Plex Mono";
}

button {
    padding: 5px;
    font-family: "IBM Plex Mono";
    padding-left: 10px;
    padding-right: 10px;
}

h1 {
    font-family: "Proto Mono";
}

h2 {
    font-family: "Proto Mono";
}

h3 {
    font-family: "Proto Mono";
}
